body{
  margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #e3e3e3;
}

header{
  text-align: center;
}

div.login{
  max-width: 250px;
  margin: auto;
}

.loginForm{
  padding: 25px;
  height: 150px;
  border-right: solid 3px green;
  border-bottom: solid  3px green;

}

input, button{
  margin: 8px;
}

.login-btn{
  font-size: 24px;
  border-radius: 8px;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  width: 100px;
}
